# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "73591759b83d5c2e52e3529c7464dc84"
name = "wishlist_custom"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[app_proxy]
prefix = "apps"
subpath = "wlapi"
url = "https://c16211cfa7eb.ngrok-free.app"