.ws-wishlist-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0px;
  padding: 12px 18px;
  background: #e50d0d;

  border: 2px solid #e50d0d;
color: #fff;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
  width: 100%;
  justify-content: center;
}

.ws-wishlist-btn:hover {
  border-color: #e50d0d;;
  background: #e50d0d;
;
}

.ws-wishlist-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.heart-icon {
  width: 20px;
  height: 20px;
  fill: #aaa;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.ws-wishlist-btn.active .heart-icon {
  fill: #ff4d6d;
  transform: scale(1.15);
}

.ws-wishlist-btn.active {
  background: #ffe6eb;
  border-color: #ff4d6d;
}

.popup-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #292929;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  font-size: 15px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 99999;
}

.popup-message.show {
  opacity: 1;
  transform: translateY(0);
}
